<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:component-scan base-package="org.mine.*"/>
	
	<!-- 注册HandlerMapper、HandlerAdapter两个映射类 <mvc:annotation-driven />会注册两个映射类，负责将请求映射到类和方法中 -->
	<mvc:annotation-driven/>

	<mvc:default-servlet-handler/>
	
	<mvc:interceptors>
		<mvc:interceptor>
		<mvc:mapping path="/**"/>
		<mvc:exclude-mapping path="/public/*"/>
			<bean class="org.mine.interceptor.LoginInterceptor">
				<property name="aollwUrls">
					<list>
						<value>login.html</value>
						<value>index.html</value>
						<value>public/static/view</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- 视图解析器 , 视图解析器是将Controller类返回的视图名加上配置的前后缀进行展示-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/public/view/"></property>
		<property name="suffix" value=".jsp"></property>
		<property name="contentType">
			<value>test/html; charset=UTF-8</value>
		</property>
	</bean>

</beans>
