@CHARSET "UTF-8";

form {
	background-color: rgba(255, 255, 255, 0.4);
	padding: 20px;
	padding-left: 33%;
	padding-right: 33%;
	height: 247px;
	width:400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.center-in-center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -65%);
}

.warg{
	margin-top:8%;
}

.mycenter {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	height: 450px;
	width: 600px;
	padding: 5%;
	padding-left: 5%;
	padding-right: 5%;
}

.mycenter mysign {
	width: auto;
	height: auto;
}

.mycenter input, checkbox, button {
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.mycheckbox {
	margin-top: 10px;
	margin-left: 40px;
	margin-bottom: 10px;
	height: 10px;
}

.loginbutton {
	width: 100px;
	float: left;
}

.labletest{
	float:left;
}

.inputtest{
	width: 100%;
}

.div-layout{
	margin-left: -50%;
	margin-right: -50%;
	margin-tops: 0%;
}

.zhbutton {
	width: 100px;
	float: right;
}
.lable_div{display:block;float:left;}

.dis_div{
	float:left;
}

/*alert*/
.errorlayerdiv {
	position: relative;
	width: 400px;
	height: auto;
/* 	margin: 10% auto; */
	background: #fff;
	border-radius: 0px;
	box-shadow: 0 0 20px #aaaaaa;
	overflow: hidden
}

.errorlayertit {
	height: auto;
	line-height: auto;
	background: #f0f7ff;
	padding-left: 20px;
	color: #888888
}

.errorlayertit span {
	float: right;
	margin-right: 20px;
	cursor: pointer;
	font-size: 24px;
}

.errorlayermain {
	width: 100%;
	padding: 20px;
	line-height: 20px;
}

.errorlayerbuttondiv {
	text-align: right;
	padding: 0 20px 20px 20px;
}

.ngdialog-header-alert {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: #aacec757;
}

.alert-span{
	font-size:12px;	
	/*自动适应宽度*/
	display:block;
	/*自动换行--当字母超过宽度,打散字母换行*/ 
	word-break: break-all;
}

.errorlayerbuttondiv .button1 {
	width: 90px;
	height: 24px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	background: #15bdf4;
	border: 0;
	float: none;
	margin-right: 0;
}

.errorlayerbuttondiv .button2 {
	width: 90px;
	height: 24px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	margin-left: 10px;
	background: #42b19d;
	border: 0;
}

.button-login{
	display: inline-block;
	border: 2px solid #fff;
	width: 125px;
	font-size: 14px;
	font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
	font-weight: 700;
	line-height: 21px;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
	margin: 0 10px;
	-webkit-transition: all .3s ease-in;
	background: transparent;
	color: #000000;
	cursor: pointer;
}

.button-login:hover {
	background-color: #ffffff;
	color: #5c9aa3;
}


.alert-footer{
	display: -ms-flexbox;
  	display: flex;
  	-ms-flex-align: center;
  	align-items: center;
  	-ms-flex-pack: end;
  	justify-content: flex-end;
  	padding: 1rem;
  	border-top: 1px solid transparent;
  	border-bottom-right-radius: 0.3rem;
  	border-bottom-left-radius: 0.3rem;
}

.alert-button{
	width: 91px;
	padding: 7px 0px;
	background: #acd2d2;
}

.alert-button:hover {
	background-color: #46b9b6;
	color: #ffffff;
}

.register-bg{
	background-image: url('../image/6.jpg');;
}
