<?xml version="1.0" encoding="UTF-8"?>
<!-- scan：当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。 scanPeriod：设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒当scan为true时，此属性生效。默认的时间间隔为1分钟。 
	debug：当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" debug="true">

	<property name="RootLogLevel" value="DEBUG"></property>
	<property name="StdoutLogLevel" value="DEBUG"></property>
	<property name="FileLogLevel" value="DEBUG"></property>
	<property name="ErrorLogLevel" value="ERROR"></property>
	<property name="MybatisLogLevel" value="DEBUG"></property>
	<!-- 控制Mybatis日志打印级别 -->
	<logger name="mybatis.sql" level="${MybatisLogLevel}"></logger>

	<!-- 控制台 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<!-- 过滤掉低于指定 级别的日志,此处过滤掉trace的日志 TRACE<DEBUG<INFO<WARN<ERROR -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${StdoutLogLevel}</level>
		</filter>
		<encoder>
			<!-- 日志输出格式：%d表示日期时间，%thread表示线程名，%-5level：级别从左显示5个字符宽度 %logger{50} 表示logger名字最长50个字符，否则按照句点分割。 
				%msg：日志消息，%n是换行符  %d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger{50}][%file:%line] %msg%n -->
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%-5level][%logger{50}][%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 将所有日志输出到指定文件中 -->
	<appender name="STDINF"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${FileLogLevel}</level>
		</filter>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss}[%thread][%-5level][%logger{50}][%file:%line] %msg%n
			</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/%d{yyyy-MM-dd}/X_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<!-- SiftingAppender:能根据一定的规则鉴别日志事件,然后委托给不同的appender完成真正的日志输出任务. -->
	<appender name="FILE" class="ch.qos.logback.classic.sift.SiftingAppender">
		<Encoding>UTF-8</Encoding>
		<!--discriminator鉴别器，根据taskId这个key对应的value鉴别日志事件，然后委托给具体appender写日志-->
        <discriminator>
            <key>trade</key>
            <defaultValue>X</defaultValue>
        </discriminator>
		<sift>
			<!--具体的写日志appender，每一个trade创建一个文件-->
			<appender name="File-${trade}" class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy
					class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
					<fileNamePattern>log/%d{yyyy-MM-dd}/${trade}_%i.log</fileNamePattern>
					<maxFileSize>20MB</maxFileSize>
					<maxHistory>30</maxHistory>
					<totalSizeCap>20GB</totalSizeCap>
				</rollingPolicy>
				<encoder>
					<pattern>
						%d{yyyy-MM-dd HH:mm:ss}[%thread][%-5level][%logger{50}][%file:%line] %msg%n
					</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>
	
	<appender name="STDERR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
<!-- 		<filter class="ch.qos.logback.classic.filter.LevelFilter"> -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${ErrorLogLevel}</level>
<!-- 			<onMatch>ACCEPT</onMatch> -->
<!-- 			<onMisMatch>DENY</onMisMatch> -->
		</filter>
		<encoder>
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss}[%thread][%-5level][%logger{50}][%file:%line] %msg%n
			</pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>log/%d{yyyy-MM-dd}/ERROR_%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>30</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<!-- 异步打印日志 STDINF -->
	<appender name="ASYNCSTDINF" class="ch.qos.logback.classic.AsyncAppender">
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="STDINF" />
	</appender>
	
	<!-- 异步打印日志 FILE -->
	<appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>512</queueSize>
		<!-- 添加附加的appender,最多只能添加一个 -->
		<appender-ref ref="FILE" />
	</appender>

	<root level="${RootLogLevel}">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ASYNCFILE" />
		<appender-ref ref="ASYNCSTDINF" />
		<appender-ref ref="STDERR" />
<!-- 		<appender-ref ref="STDINF" /> -->
<!-- 		<appender-ref ref="FILE" /> -->
	</root>
</configuration>