<div class="bg"></div>
<div class="header">
	<div class="backg">
		<div class="desc">
			<form name="loginForm" class="">
				<div class="divtest">
					<label for="username" class="form-label labletest">用户名:</label> <input
						type="text" class="form-control inputtest" ng-model="username"
						placeholder="请输入用户名"/>
				</div>
				<div class="divtest">
					<label for="password" class="control-label labletest">密码:</label> <input
						type="password" class="form-control inputtest" ng-model="password"
						placeholder="请输入密码" />
				</div>
				<div class="divtest">
					<div class="buttons loginbutton" style="width: 50%;">
						<a ng-click="open()" class="demo">登录</a>
					</div>
					<div class="buttons zhbutton" style="width: 50%;">
						<a ng-click="open()" class="demo">注册</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- <script type="text/ng-template" id="firstDialog"> -->
<!-- 			<div class="ngdialog-message"> -->
<!-- 				<ul class="mt"> -->
<!-- 					<li>Use it in controllers, factories or directives</li> -->
<!-- 					<li>Create your own directives</li> -->
<!-- 					<li>Style all UI and templates</li> -->
<!-- 					<li>Configure themes</li> -->
<!-- 					<li>Add animations and effects</li> -->
<!-- 				</ul> -->
<!-- 			</div> -->
<!-- 		</script> -->