<div class="bg"></div>
<div class="header center-in-center">
<div class="ngdialog-header-alert" style="z-index: 1;">
		<span class="alert-span">注册:</span>
	</div>
	<div class="modal-body" style="z-index: 2;">
		<label for="username" class="form-label labletest">用户名:</label> <input
					type="text" class="form-control inputtest" ng-model="username"
					placeholder="请输入用户名" />
					
		<label for="password" class="control-label labletest">密码:</label> <input
					type="password" class="form-control inputtest" ng-model="password"
					placeholder="请输入密码" />
		<br/>
		<br/>
		<button class="button-login alert-button" style="float:left;" ng-click="submit()">确认</button>
		<button class="button-login alert-button" style="float:right;" ng-click="closeThisDialog()">取消</button>
	</div>

	</div>




