<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BatchConfCustom">
	<select id="getMaxQueueId" resultType="java.lang.Long">
		select IFNULL(max(queue_id) + 1,1) from batch_queue_conf
	</select>
	
	<select id="getTriggerConfMaxId" resultType="java.lang.Long">
		select IFNULL(max(trigger_id) + 1,1) from batch_trigger_conf
	</select>
	
	<select id="getJobGroupConfMaxId" resultType="java.lang.Long">
		select IFNULL(max(job_group_id) + 1,1) from batch_job_group_conf
	</select>
	
	<select id="getJobDetailConfMaxId" resultType="java.lang.Long">
		select IFNULL(count(jobdetail_id) + 1,1) from batch_job_detail_conf where jobdetail_id like '${id}00%'
	</select>
	
	<select id="getMaxNumByGroupDefin" resultType="java.lang.Integer">
		select IFNULL(max(group_execution_num) + 1, 1) from batch_group_definition
	</select>
	
	<select id="getBatchSequence" resultType="java.lang.Long">
		select nextVal(#{seqName})
	</select>
	
	<select id="getMaxNumByTbName" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		<if test="dbname != null and dbname == 'batch_group_definition'">
			IFNULL(MAX(group_execution_num) + 1, 1) from batch_group_definition
		</if>
		<if test="dbname != null and dbname = 'batch_trigger_definition'">
			IFNULL(MAX(trigger_id) + 1, 1) from batch_trigger_definition
		</if>
	</select>
	
	<update id="updateStepLogExecuStatus" parameterType="java.util.Map">
		update batch_timing_step_log_register set step_job_status = #{stepJobStatus}, step_job_errmsg= #{stepJobErrmsg} where step_execution_id = #{stepExecutionId}
	</update>
	
</mapper>
