<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BatchConfCustom">
	<select id="getMaxNumByQueueDefin" resultType="java.lang.Integer">
		select IFNULL(max(queue_execution_num) + 1, 1) from batch_queue_definition
	</select>

	<select id="getMaxNumByGroupDefin" resultType="java.lang.Integer">
		select IFNULL(max(group_execution_num) + 1, 1) from batch_group_definition
	</select>

	<select id="getMaxNumByTaskExecute" resultType="java.lang.Integer">
		select IFNULL(max(execute_job_num) + 1, 1) from batch_task_execute where execute_task_id = #{taskID}
	</select>

	<select id="getMaxNumByJobExecute" resultType="java.lang.Integer">
		select IFNULL(max(execute_step_num) + 1, 1) from batch_job_execute where execute_job_id = #{jobID}
	</select>

	<select id="getMaxNumByQueueExecute" resultType="java.lang.Integer">
		select IFNULL(max(execute_num) + 1, 1) from batch_queue_execute where execute_queue_id = #{queueID}
	</select>

	<select id="getBatchSequence" resultType="java.lang.Long">
		select nextVal(#{seqName})
	</select>
	
	<select id="getMaxNumByTbName" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		<if test="dbname != null and dbname == 'batch_group_definition'">
			IFNULL(MAX(group_execution_num) + 1, 1) from batch_group_definition
		</if>
		<if test="dbname != null and dbname = 'batch_trigger_definition'">
			IFNULL(MAX(trigger_id) + 1, 1) from batch_trigger_definition
		</if>
	</select>

	<update id="updateStepLogInUnknownFailed" parameterType="java.util.Map">
		update batch_step_log set step_status = #{stepStatus}, step_errmsg= #{stepErrorMsg}, time_stamp = #{timeStamp}
		where execution_instance = #{executionInstance} and step_status = 'NEW' and valid_status = '0'
	</update>
</mapper>
