<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BatchTimingTaskLogRegister">
	<resultMap type="org.mine.model.BatchTimingTaskLogRegister" id="BaseResultMap">
		<result column="timing_execution_id" property="timingExecutionId"/>
		<result column="timing_task_id" property="timingTaskId"/>
		<result column="timing_job_name" property="timingJobName"/>
		<result column="timing_associate_task_id" property="timingAssociateTaskId"/>
		<result column="timing_start_time" property="timingStartTime"/>
		<result column="timing_end_time" property="timingEndTime"/>
		<result column="timing_job_status" property="timingJobStatus"/>
		<result column="timing_job_errmsg" property="timingJobErrmsg"/>
		<result column="create_date" property="createDate"/>
		<result column="valid_status" property="validStatus"/>
		<result column="remark" property="remark"/>
	</resultMap>

	<sql id="Base_Select_List">
		timing_execution_id,timing_task_id,timing_job_name,timing_associate_task_id,timing_start_time,timing_end_time,
		timing_job_status,timing_job_errmsg,create_date,valid_status,remark
	</sql>

	<sql id="Base_Insert_Column">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="timingExecutionId != null">timing_execution_id,</if>
			<if test="timingTaskId != null">timing_task_id,</if>
			<if test="timingJobName != null">timing_job_name,</if>
			<if test="timingAssociateTaskId != null">timing_associate_task_id,</if>
			<if test="timingStartTime != null">timing_start_time,</if>
			<if test="timingEndTime != null">timing_end_time,</if>
			<if test="timingJobStatus != null">timing_job_status,</if>
			<if test="timingJobErrmsg != null">timing_job_errmsg,</if>
			<if test="createDate != null">create_date,</if>
			<if test="validStatus != null">valid_status,</if>
			<if test="remark != null">remark,</if>
		</trim>
	</sql>

	<sql id="Base_Insert_Values">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="timingExecutionId != null">#{timingExecutionId},</if>
			<if test="timingTaskId != null">#{timingTaskId},</if>
			<if test="timingJobName != null">#{timingJobName},</if>
			<if test="timingAssociateTaskId != null">#{timingAssociateTaskId},</if>
			<if test="timingStartTime != null">#{timingStartTime},</if>
			<if test="timingEndTime != null">#{timingEndTime},</if>
			<if test="timingJobStatus != null">#{timingJobStatus},</if>
			<if test="timingJobErrmsg != null">#{timingJobErrmsg},</if>
			<if test="createDate != null">#{createDate},</if>
			<if test="validStatus != null">#{validStatus},</if>
			<if test="remark != null">#{remark},</if>
		</trim>
	</sql>

	<insert id="insertOne" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		insert into batch_timing_task_log_register
		<include refid="BatchTimingTaskLogRegister.Base_Insert_Column"/>
		values 
		<include refid="BatchTimingTaskLogRegister.Base_Insert_Values"/>
	</insert>

	<insert id="batchInsert" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		insert into batch_timing_task_log_register
		<include refid="BatchTimingTaskLogRegister.Base_Insert_Column"/>
		values 
		<include refid="BatchTimingTaskLogRegister.Base_Insert_Values"/>
	</insert>

	<insert id="batchInsertXML" parameterType="java.util.List">
		insert into batch_timing_task_log_register
		(timing_execution_id,timing_task_id,timing_job_name,timing_associate_task_id,timing_start_time
			,timing_end_time,timing_job_status,timing_job_errmsg,create_date
			,valid_status,remark)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.timingExecutionId},#{item.timingTaskId},#{item.timingJobName},#{item.timingAssociateTaskId},#{item.timingStartTime}
				,#{item.timingEndTime},#{item.timingJobStatus},#{item.timingJobErrmsg},#{item.createDate}
				,#{item.validStatus},#{item.remark})
		</foreach>
	</insert>
	<select id="selectOne1" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchTimingTaskLogRegister.Base_Select_List"/>
		from batch_timing_task_log_register
		where timing_execution_id = #{timingExecutionId}
	</select>

	<select id="selectOne1R" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchTimingTaskLogRegister.Base_Select_List"/>
		from batch_timing_task_log_register
		where timing_execution_id = #{timingExecutionId} and valid_status = '0'
	</select>

	<select id="selectOne1L" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchTimingTaskLogRegister.Base_Select_List"/>
		from batch_timing_task_log_register
		where timing_execution_id = #{timingExecutionId} for update
	</select>

	<delete id="deleteOne1" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		delete from batch_timing_task_log_register
		where
		timing_execution_id = #{timingExecutionId}
	</delete>

	<delete id="deleteOne1L" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		delete from batch_timing_task_log_register
		where
		timing_execution_id = #{timingExecutionId} for update
	</delete>

	<update id="updateOne1" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		update batch_timing_task_log_register
		<trim prefix="set" suffixOverrides=",">
			<if test="timingTaskId != null">timing_task_id = #{timingTaskId},</if>
			<if test="timingJobName != null">timing_job_name = #{timingJobName},</if>
			<if test="timingAssociateTaskId != null">timing_associate_task_id = #{timingAssociateTaskId},</if>
			<if test="timingStartTime != null">timing_start_time = #{timingStartTime},</if>
			<if test="timingEndTime != null">timing_end_time = #{timingEndTime},</if>
			<if test="timingJobStatus != null">timing_job_status = #{timingJobStatus},</if>
			<if test="timingJobErrmsg != null">timing_job_errmsg = #{timingJobErrmsg},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="validStatus != null">valid_status = #{validStatus},</if>
			<if test="remark != null">remark = #{remark},</if>
		</trim>
		where timing_execution_id = #{timingExecutionId}
	</update>

	<update id="updateOne1R" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		update batch_timing_task_log_register
		<trim prefix="set" suffixOverrides=",">
			<if test="timingTaskId != null">timing_task_id = #{timingTaskId},</if>
			<if test="timingJobName != null">timing_job_name = #{timingJobName},</if>
			<if test="timingAssociateTaskId != null">timing_associate_task_id = #{timingAssociateTaskId},</if>
			<if test="timingStartTime != null">timing_start_time = #{timingStartTime},</if>
			<if test="timingEndTime != null">timing_end_time = #{timingEndTime},</if>
			<if test="timingJobStatus != null">timing_job_status = #{timingJobStatus},</if>
			<if test="timingJobErrmsg != null">timing_job_errmsg = #{timingJobErrmsg},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="validStatus != null">valid_status = #{validStatus},</if>
			<if test="remark != null">remark = #{remark},</if>
		</trim>
		where timing_execution_id = #{timingExecutionId} and valid_status = '0'
	</update>

	<update id="updateOne1L" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		update batch_timing_task_log_register
		<trim prefix="set" suffixOverrides=",">
			<if test="timingTaskId != null">timing_task_id = #{timingTaskId},</if>
			<if test="timingJobName != null">timing_job_name = #{timingJobName},</if>
			<if test="timingAssociateTaskId != null">timing_associate_task_id = #{timingAssociateTaskId},</if>
			<if test="timingStartTime != null">timing_start_time = #{timingStartTime},</if>
			<if test="timingEndTime != null">timing_end_time = #{timingEndTime},</if>
			<if test="timingJobStatus != null">timing_job_status = #{timingJobStatus},</if>
			<if test="timingJobErrmsg != null">timing_job_errmsg = #{timingJobErrmsg},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="validStatus != null">valid_status = #{validStatus},</if>
			<if test="remark != null">remark = #{remark},</if>
		</trim>
		where timing_execution_id = #{timingExecutionId} for update
	</update>

	<update id="batchUpdate1" parameterType="org.mine.model.BatchTimingTaskLogRegister">
		update batch_timing_task_log_register
		<trim prefix="set" suffixOverrides=",">
			<if test="timingTaskId != null">timing_task_id = #{timingTaskId},</if>
			<if test="timingJobName != null">timing_job_name = #{timingJobName},</if>
			<if test="timingAssociateTaskId != null">timing_associate_task_id = #{timingAssociateTaskId},</if>
			<if test="timingStartTime != null">timing_start_time = #{timingStartTime},</if>
			<if test="timingEndTime != null">timing_end_time = #{timingEndTime},</if>
			<if test="timingJobStatus != null">timing_job_status = #{timingJobStatus},</if>
			<if test="timingJobErrmsg != null">timing_job_errmsg = #{timingJobErrmsg},</if>
			<if test="createDate != null">create_date = #{createDate},</if>
			<if test="validStatus != null">valid_status = #{validStatus},</if>
			<if test="remark != null">remark = #{remark},</if>
		</trim>
		where timing_execution_id = #{timingExecutionId}
	</update>

	<update id="batchUpdateXML" parameterType="java.util.List">
		update batch_timing_task_log_register set
		<trim prefix="timing_task_id=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingTaskId != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingTaskId}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_job_name=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingJobName != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingJobName}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_associate_task_id=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingAssociateTaskId != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingAssociateTaskId}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_start_time=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingStartTime != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingStartTime}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_end_time=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingEndTime != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingEndTime}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_job_status=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingJobStatus != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingJobStatus}
				</if>
			</foreach>
		</trim>
		<trim prefix="timing_job_errmsg=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.timingJobErrmsg != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.timingJobErrmsg}
				</if>
			</foreach>
		</trim>
		<trim prefix="create_date=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.createDate != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.createDate}
				</if>
			</foreach>
		</trim>
		<trim prefix="valid_status=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.validStatus != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.validStatus}
				</if>
			</foreach>
		</trim>
		<trim prefix="remark=case" suffix="end">
			<foreach collection="list" item="item" index="index">
				<if test="item.remark != null">
					when timing_execution_id = #{item.timingExecutionId} then #{item.remark}
				</if>
			</foreach>
		</trim>
		where
		timing_execution_id in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item.timingExecutionId}
		</foreach>
	</update>
</mapper>