<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BatchQueueConf">
	<resultMap type="org.mine.model.BatchQueueConf" id="BaseResultMap">
		<result column="queue_id" property="queueId"/>
		<result column="queue_name" property="queueName"/>
		<result column="queue_job_group_id" property="queueJobGroupId"/>
		<result column="queue_auto_flag" property="queueAutoFlag"/>
		<result column="vaild_status" property="vaildStatus"/>
		<result column="queue_remark" property="queueRemark"/>
	</resultMap>

	<sql id="Base_Select_List">
		queue_id,queue_name,queue_job_group_id,queue_auto_flag,vaild_status,queue_remark
	</sql>

	<sql id="Base_Insert_Column">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="queueId != null">queue_id,</if>
			<if test="queueName != null">queue_name,</if>
			<if test="queueJobGroupId != null">queue_job_group_id,</if>
			<if test="queueAutoFlag != null">queue_auto_flag,</if>
			<if test="vaildStatus != null">vaild_status,</if>
			<if test="queueRemark != null">queue_remark,</if>
		</trim>
	</sql>

	<sql id="Base_Insert_Values">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="queueId != null">#{queueId},</if>
			<if test="queueName != null">#{queueName},</if>
			<if test="queueJobGroupId != null">#{queueJobGroupId},</if>
			<if test="queueAutoFlag != null">#{queueAutoFlag},</if>
			<if test="vaildStatus != null">#{vaildStatus},</if>
			<if test="queueRemark != null">#{queueRemark},</if>
		</trim>
	</sql>

	<insert id="insertOne" parameterType="org.mine.model.BatchQueueConf">
		insert into batch_queue_conf
		<include refid="BatchQueueConf.Base_Insert_Column"/>
		values 
		<include refid="BatchQueueConf.Base_Insert_Values"/>
	</insert>

	<insert id="batchInsert" parameterType="org.mine.model.BatchQueueConf">
		insert into batch_queue_conf
		<include refid="BatchQueueConf.Base_Insert_Column"/>
		values 
		<include refid="BatchQueueConf.Base_Insert_Values"/>
	</insert>

	<insert id="batchInsertXML" parameterType="java.util.List">
		insert into batch_queue_conf
		(queue_id,queue_name,queue_job_group_id,queue_auto_flag,vaild_status
			,queue_remark)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.queueId},#{item.queueName},#{item.queueJobGroupId},#{item.queueAutoFlag},#{item.vaildStatus}
				,#{item.queueRemark})
		</foreach>
	</insert>
	<select id="selectOne1" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_id = #{queueId}
	</select>

	<select id="selectOne1R" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_id = #{queueId} and vaild_status = '0'
	</select>

	<select id="selectOne1L" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_id = #{queueId} for update
	</select>

	<delete id="deleteOne1" parameterType="org.mine.model.BatchQueueConf">
		delete from batch_queue_conf
		where
		queue_id = #{queueId}
	</delete>

	<delete id="deleteOne1L" parameterType="org.mine.model.BatchQueueConf">
		delete from batch_queue_conf
		where
		queue_id = #{queueId} for update
	</delete>

	<update id="updateOne1" parameterType="org.mine.model.BatchQueueConf">
		update batch_queue_conf
		<trim prefix="set" suffixOverrides=",">
			<if test="queueName != null">queue_name = #{queueName},</if>
			<if test="queueJobGroupId != null">queue_job_group_id = #{queueJobGroupId},</if>
			<if test="queueAutoFlag != null">queue_auto_flag = #{queueAutoFlag},</if>
			<if test="vaildStatus != null">vaild_status = #{vaildStatus},</if>
			<if test="queueRemark != null">queue_remark = #{queueRemark},</if>
		</trim>
		where queue_id = #{queueId}
	</update>

	<update id="updateOne1R" parameterType="org.mine.model.BatchQueueConf">
		update batch_queue_conf
		<trim prefix="set" suffixOverrides=",">
			<if test="queueName != null">queue_name = #{queueName},</if>
			<if test="queueJobGroupId != null">queue_job_group_id = #{queueJobGroupId},</if>
			<if test="queueAutoFlag != null">queue_auto_flag = #{queueAutoFlag},</if>
			<if test="vaildStatus != null">vaild_status = #{vaildStatus},</if>
			<if test="queueRemark != null">queue_remark = #{queueRemark},</if>
		</trim>
		where queue_id = #{queueId} and vaild_status = '0'
	</update>

	<update id="updateOne1L" parameterType="org.mine.model.BatchQueueConf">
		update batch_queue_conf
		<trim prefix="set" suffixOverrides=",">
			<if test="queueName != null">queue_name = #{queueName},</if>
			<if test="queueJobGroupId != null">queue_job_group_id = #{queueJobGroupId},</if>
			<if test="queueAutoFlag != null">queue_auto_flag = #{queueAutoFlag},</if>
			<if test="vaildStatus != null">vaild_status = #{vaildStatus},</if>
			<if test="queueRemark != null">queue_remark = #{queueRemark},</if>
		</trim>
		where queue_id = #{queueId} for update
	</update>

	<update id="batchUpdateXML1" parameterType="java.util.List">
		update batch_queue_conf set
		<trim prefix="queue_name=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.queueName != null">
					when queue_id = #{item.queueId} then #{item.queueName}
				</if>
			</foreach>
		</trim>
		<trim prefix="queue_job_group_id=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.queueJobGroupId != null">
					when queue_id = #{item.queueId} then #{item.queueJobGroupId}
				</if>
			</foreach>
		</trim>
		<trim prefix="queue_auto_flag=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.queueAutoFlag != null">
					when queue_id = #{item.queueId} then #{item.queueAutoFlag}
				</if>
			</foreach>
		</trim>
		<trim prefix="vaild_status=case" suffix="end,">
			<foreach collection="list" item="item" index="index">
				<if test="item.vaildStatus != null">
					when queue_id = #{item.queueId} then #{item.vaildStatus}
				</if>
			</foreach>
		</trim>
		<trim prefix="queue_remark=case" suffix="end">
			<foreach collection="list" item="item" index="index">
				<if test="item.queueRemark != null">
					when queue_id = #{item.queueId} then #{item.queueRemark}
				</if>
			</foreach>
		</trim>
		where
		queue_id in
		<foreach collection="list" item="item" index="index" separator="," open="(" close=")">
			#{item.queueId}
		</foreach>
	</update>
	<update id="batchUpdate" parameterType="org.mine.model.BatchQueueConf">
		update batch_queue_conf
		<trim prefix="set" suffixOverrides=",">
			<if test="queueName != null">queue_name = #{queueName},</if>
			<if test="queueJobGroupId != null">queue_job_group_id = #{queueJobGroupId},</if>
			<if test="queueAutoFlag != null">queue_auto_flag = #{queueAutoFlag},</if>
			<if test="vaildStatus != null">vaild_status = #{vaildStatus},</if>
			<if test="queueRemark != null">queue_remark = #{queueRemark},</if>
		</trim>
		where queue_id = #{queueId}
	</update>

	<select id="selectAll1" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_auto_flag = #{queueAutoFlag}
	</select>

	<select id="selectAll1R" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_auto_flag = #{queueAutoFlag} and vaild_status = '0'
	</select>

	<select id="selectAll1L" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="BatchQueueConf.Base_Select_List"/>
		from batch_queue_conf
		where queue_auto_flag = #{queueAutoFlag} for update
	</select>

</mapper>