<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="batchRunJobDetail">
	<resultMap type="org.mine.model.BatchRunJobDetail" id="BaseResultMap">
		<result property="jobId" column="job_id"/>
		<result property="jobName" column="job_name"/>
		<result property="jobProvider" column="job_provider"/>
		<result property="jobIsConcurrent" column="job_isConcurrent"/>
		<result property="jobRemark" column="job_remark"/>
	</resultMap>

	<sql id="Base_Column_List">
		job_id,job_name,job_provider,job_isConcurrent,job_remark
	</sql>

	<select id="selectAllInfo" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="batchRunJobDetail.Base_Column_List"/>
		from batch_run_jobdetail
	</select>
	
	<select id="selectOne" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		select
		<include refid="batchRunJobDetail.Base_Column_List"/>
		from batch_run_jobdetail where job_id = #{jobId}
	</select>
	
	<sql id="Base_Insert_Column">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jobId != null">job_id,</if>
			<if test="jobName != null">job_name,</if>
			<if test="jobProvider != null">job_provider,</if>
			<if test="jobIsConcurrent != null">job_isConcurrent,</if>
			<if test="jobRemark != null">job_remark,</if>
		</trim>
	</sql>
	
	<sql id="Base_Insert_Values">
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jobId != null">#{jobId},</if>
			<if test="jobName != null">#{jobName},</if>
			<if test="jobProvider != null">#{jobProvider},</if>
			<if test="jobIsConcurrent != null">#{jobIsConcurrent},</if>
			<if test="jobRemark != null">#{jobRemark},</if>
		</trim>
	</sql>
	
	<insert id="insertOne" parameterType="org.mine.model.BatchRunJobDetail">
		insert into batch_run_jobdetail
		<include refid="batchRunJobDetail.Base_Insert_Column"></include>
		values
		<include refid="batchRunJobDetail.Base_Insert_Values"></include>
	</insert>
	
	<insert id="batchInsert" parameterType="java.util.List">
		insert into batch_run_jobdetail
		(job_id,job_name,job_provider,job_isConcurrent,job_remark)
		values
		<foreach collection="runJobDetails" item="list" index="index" separator=",">
			(#{list.jobId},#{list.jobName},#{list.jobProvider},#{list.jobIsConcurrent},#{list.jobRemark})
		</foreach>
	</insert>
	
	<update id="batchUpdate" parameterType="org.mine.model.BatchRunJobDetail">
		update batch_run_jobdetail
		<trim prefix="set" suffixOverrides=",">
			<if test="jobName != null">job_name = #{jobName},</if>
			<if test="jobProvider != null">job_provider = #{jobProvider},</if>
			<if test="jobIsConcurrent != null">job_isConcurrent = #{jobIsConcurrent},</if>
			<if test="jobRemark != null">job_remark = #{jobRemark},</if>
		</trim>
		where job_id = #{jobId}
	</update>
</mapper>
