<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="batchRunQueue">
	<resultMap type="org.mine.model.BatchRunQueue" id="batchRunQueueResultMap">
		<result property="queueId" column="queue_id"/>
		<result property="queueName" column="queue_name"/>
		<result property="queueStartTime" column="queue_start_time"/>
		<result property="queueEndTime" column="queue_end_time"/>
		<result property="queueCrontrigger" column="queue_crontrigger"/>
		<result property="queueIsConcurrent" column="queue_isConcurrent"/>
		<result property="queueJobId" column="queue_job_id"/>
		<result property="queueRemark" column="queue_remark"/>
	</resultMap>

	<sql id="Base_Column_List">
		queue_id,queue_name,queue_start_time,queue_end_time,queue_crontrigger,
		queue_isConcurrent,queue_job_id,queue_remark
	</sql>

	<select id="selectAllQueues" parameterType="java.util.Map" resultMap="batchRunQueueResultMap">
		select 
		<include refid="batchRunQueue.Base_Column_List"></include>
		from batch_run_queue
	</select>
	
	<sql id="Base_Insert_Column">
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="queueId != null">queue_id,</if>
			<if test="queueName != null">queue_name,</if>
			<if test="queueStartTime != null">queue_start_time,</if>
			<if test="queueEndTime != null">queue_end_time,</if>
			<if test="queueCrontrigger != null">queue_crontrigger,</if>
			<if test="queueIsConcurrent != null">queue_isConcurrent,</if>
			<if test="queueJobId != null">queue_job_id,</if>
			<if test="queueRemark != null">queue_remark,</if>
		</trim>
	</sql>
	
	<sql id="Base_Insert_Values">
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="queueId != null">#{queueId},</if>
			<if test="queueName != null">#{queueName},</if>
			<if test="queueStartTime != null">#{queueStartTime},</if>
			<if test="queueEndTime != null">#{queueEndTime},</if>
			<if test="queueCrontrigger != null">#{queueCrontrigger},</if>
			<if test="queueIsConcurrent != null">#{queueIsConcurrent},</if>
			<if test="queueJobId != null">#{queueJobId},</if>
			<if test="queueRemark != null">#{queueRemark},</if>
		</trim>
	</sql>
	
	<insert id="insertOne" parameterType="org.mine.model.BatchRunQueue">
		insert into batch_run_queue
		<include refid="batchRunQueue.Base_Insert_Column"></include>
		values <include refid="batchRunQueue.Base_Insert_Values"></include>
	</insert>
	
	<update id="updateOne" parameterType="org.mine.model.BatchRunQueue">
		update batch_run_queue
		<trim prefix="set" suffixOverrides=",">
			<if test="queueId != null">queue_id=#{queueId},</if>
			<if test="queueName != null">queue_name=#{queueName},</if>
			<if test="queueStartTime != null">queue_start_time=#{queueStartTime},</if>
			<if test="queueEndTime != null">queue_end_time=#{queueEndTime},</if>
			<if test="queueCrontrigger != null">queue_crontrigger=#{queueCrontrigger},</if>
			<if test="queueIsConcurrent != null">#{queueIsConcurrent},</if>
			<if test="queueJobId != null">queue_job_id=#{queueJobId},</if>
			<if test="queueRemark != null">queue_remark=#{queueRemark},</if>
		</trim> 
		where queue_id = #{queueId}
	</update>
</mapper>